 
 #cafe {
  color: brown;
  }
  #Rojo {
    color: red;
  }
  #Naranja {
    color: orangered;
  }
  #Amarillo {
    color: yellow;
  }
  #Verde {
    color: green;
  }
  #Azul {
    color: blue;
  }
  #Violeta {
    color: blueviolet;
  }
  #Gris {
    color: gray;
  }
  #Blanco {
    color: black;
    
  }
